snippet html5
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>${1:title}</title>
    ${2:link}
  </head>
  <body>
    ${0:body}
  </body>
</html>
endsnippet

snippet script
<script type="text/${1:javascript}" src="$2"></script>
endsnippet
