[user]
  name = Brian Ustas
  email = brianustas@gmail.com
[github]
  user = ustasb
[alias]
  co = checkout
  # Get the name of the current branch
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  # Push the current branch to origin
  publish = "!git push -u origin $(git branch-name)"
