snippet link "link"
[$1](${2:path})$0
endsnippet

snippet img "image"
![$1](${2:path})$0
endsnippet

snippet cbl "code block"
\`\`\`
$1
\`\`\`
$0
endsnippet

### math ###

snippet eqb "tex equation block"
$$
$1
$$
$0
endsnippet

snippet frac "tex fraction"
\frac{${1:num}}{${2:denom}}
endsnippet

### misc ###
