snippet --- "YAML frontmatter"
---
title: $1
tags: [$2]
---
$0
endsnippet

snippet link "link"
[$1](${2:path})
endsnippet

snippet img "image"
![$1](${2:path})
endsnippet

snippet cbl "code block"
\`\`\`${1:lang}
$2
\`\`\`
$0
endsnippet

snippet mermaid "mermaid graph"
~~~mermaid
$1
~~~
$0
endsnippet

### math ###

snippet tex "tex equation block"
$$
$1
$$
$0
endsnippet

snippet tex_frac "tex fraction"
\frac{${1:num}}{${2:denom}}
endsnippet
