snippet shebang "#!/usr/bin/env python"
#!/usr/bin/env python
$0
endsnippet

snippet ifmain "if __main__"
if __name__ == "__main__":
	$0
endsnippet

snippet for "for loop"
for ${1:item} in ${2:iterable}:
	${3:pass}
endsnippet

snippet p "print()"
print($1)$0
endsnippet

snippet ids "import numpy, pandas, matplotlib"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
$0
endsnippet
