snippet p "print()"
print($1)
endsnippet

snippet ifmain "if __main__"
if __name__ == "__main__":
	$0
endsnippet

snippet import_datascience "import numpy, pandas, matplotlib"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
endsnippet

snippet debug "pdb debugger"
import pdb; pdb.set_trace()
endsnippet
