snippet p "puts"
puts $1
endsnippet

snippet class "class declaration"
class ${1:class_name}
	def initialize(${2:*args})
		$0
	end
end
endsnippet

snippet case "case statement"
case ${1:variable}
when ${2:expression}
	$0
end
endsnippet

snippet rubocop "rubocop disable line"
rubocop:disable ${1:rule_name}
endsnippet

snippet debug "byebug debugger"
byebug
endsnippet
